{
    "parser": "babel-eslint",
    "plugins": [
        "react",
        "jest"
    ],
    "rules": {
        "no-unused-vars": 0,
        "arrow-body-style": 0,
        "no-path-concat": 0,
        "prefer-template": 0,
        "import/prefer-default-export": 0,
        "react/display-name": 0,
        "jest/no-disabled-tests": "warn",
        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error",
        "jest/prefer-to-have-length": "warn",
        "jest/valid-expect": "error"
    },
    "extends": [
        "airbnb-base",
        "plugin:react/recommended",
        "plugin:jest/recommended"
    ],
    "env": {
        "jest/globals": true,
        "browser": true
    },
    "settings": {
        "import/resolver": {
            "node": {
            "extensions": [
                ".js",
                ".jsx"
            ]
            }
        }
    }
}